// ==============================
// Post content
// ==============================

.post-content {
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 400;
      font-family: $global-serif-font-family;
    }
  }

  .headerlink {
    &:hover {
      border-bottom: 0;
    }

    @if $content-headings-anchor != "" {
      &::before {
        content: $content-headings-anchor;
        margin-right: 5px;
        font-size: 1.1em;
        color: $theme-color;
      }
    }
  }

  a {
    color: $theme-color;
    word-break: break-all;

    &:hover {
      border-bottom: $content-link-border;
    }

    &.fancybox {
      border: 0;
    }
  }

  ul {
    padding-left: 0;
    list-style: inside;

    li {
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }

  blockquote {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(#34495e, 0.8);
    background-color: $content-blockquote-backgroud;
    border-left: $content-blockquote-border-left;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);

    p {
      margin: 0;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
  }

  .table-responsive {
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
    // border: 3px double $content-table-border-color;
  }

  table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    box-shadow: 2px 2px 3px rgba(0,0,0,.125);

    thead {
      background: $deputy-color;
    }

    th, td {
      padding: 5px 15px;
      border: 1px double $content-table-border-color;
    }
  }

  @import 'code';

  .read-more {
    .read-more-link {
      color: $theme-color;
      font-size: 1.1em;
      font-family: $global-serif-font-family;

      &:hover {
        border-bottom: $post-readMore-border-bottom;
      }
    }
  }
}
